<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shortvideo.lib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 跳转 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- 强制更高版本手机的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 设置手机壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!--    &lt;!&ndash; 获取手机状态 &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />-->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"-->
    <!--        tools:ignore="ProtectedPermissions" />-->

    <application
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">

        <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 屏幕适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activity.TkVideoSplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myhost"
                    android:path="/home"
                    android:port="1024"
                    android:scheme="titkapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TkShortVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TkReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TkReportDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TkSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TkShortVideoTwoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.front.TkShortVideoFrontActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.front.TkShortVideoFrontDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.front.mine.TkFrontMyVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.front.mine.TkFrontMyVideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.front.photos.TkFrontPhotosDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.concise.photoedit.IMGGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageGalleryTheme" />
        <activity
            android:name=".ui.activity.concise.photoedit.IMGEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.concise.ncindex.NcIndexActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.concise.ncindex.NcWallpaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.concise.ncindex.NcMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.concise.ncindex.NcMineActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.concise.ncindex.NcPhotosActivity" />
    </application>

</manifest>